body {
    background-color: rgb(133, 166, 176);
    margin: 0;
    padding: 0;
}
.backgroundscreen {
    margin-top: 25px;
    width: 913px;
    height: 515px;
    border-radius: 25px;
    display: flex;
    overflow: hidden;
    position: absolute;
    background-color: rgb(163, 199, 199); 
    z-index: 2;
    
}
.pokeball-container {
    display: flex;
    align-items: center;
    width: 60%;
    margin-left: -70px;
}
.row {
    display: flex;
    flex-direction: column;
}
.pokeball {
    align-items: center;
    margin: 5px;
}


.pk-tp {
    
}
.pk-bt {
    bottom: 0;
}


.pk-uno {
    transform: scale(1.2) rotate(100deg);
    animation: giroUno 50s linear infinite;
    opacity: 0.35;
}

.pk-dos {
    transform: scale(0.7) rotate(10deg);
    animation: giroDos 20s linear infinite;
    opacity: 0.45;
    margin-top: -30px;
    margin-bottom: 30px; 
}

.pk-tres {
    transform: scale(0.5) rotate(-300deg);
    animation: giroTres 20s linear infinite;
    opacity: 0.55;
    margin-left: -30px;
    margin-right: 30px;
}

.pk-cuatro {
    transform: scale(1.5) rotate(-90deg);
    animation: giroCuatro 50s linear infinite;
    opacity: 0.25;
}

@keyframes giroUno {
    0% {transform: scale(1.2) rotate(100deg);}
    100% {transform: scale(1.2) rotate(-260deg);}
}

@keyframes giroDos {
    0% {transform: scale(0.7) rotate(-300deg);}
    100% {transform: scale(0.7) rotate(60deg);}
}

@keyframes giroTres {
    0% {transform: scale(0.5) rotate(0deg);}
    100% {transform: scale(0.5) rotate(360deg);}
}

@keyframes giroCuatro {
    0% {transform: scale(1.5) rotate(0deg);}
    100% {transform: scale(1.5) rotate(-360deg);
}
}
